:root {
    --light-pink: #ffc6c7;
    --real-light-pink: rgb(252, 252, 252);
    --text:rgb(116, 71, 30);
    --yellow: #fdd782;
    --mustard: #fcbc3e;
}

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text);
    background-color: var(--real-light-pink);
}
nav {
    background-color: var(--mustard);
    margin-right: 5%;
}

#name {
    flex: 1;
    margin-right: 5%;
    margin-left: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    background-color: var(--light-pink);
    font-size:3vw;
 }
 #tagline {
    position: absolute;
    margin-right: 15%;
    margin-left: 19%;
    margin-top: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--light-pink);
    font-size: larger; 
}

 #header {
    display: flex;
    background-color: var(--mustard);
}

#subtitle {
    position: relative;
    text-align: bottom;
    margin: 0;
    background-color: var(--yellow);
}

#subtitle >img {
    width: 80%;
    height: 75%;
    padding: 0%;
    margin: 0%;
}

#subtitle-text {
    display: flex;
    flex: 0 1 4vw;
    flex-direction: column;
    width: 18%;
    padding: 1%;
    background-color: var(--light-pink);
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.info {
    display: flex;
    flex: 0 1 40vw;
}

.info-head {
    width: 100px;
    height: auto;
    text-align: right;
   padding-right: 10px;
   margin: 1%;
   border-right: 6px solid var(--text);
}

.info-text {
   flex-wrap: wrap;
   margin: 1em;
   font-size: large;
}


.navigation {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    list-style-type: none;
    text-decoration-line: underline;
    background-color: var(--mustard);
}

.navigation >li {
    background-color: var(--mustard);
}

.navigation >li>a {
    margin: 1em;
    background-color: var(--mustard);
}
.navigation >li>a:hover {
    color: var(--yellow);
    text-decoration: underline var(--yellow);
}

#contact {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-decoration-line: underline;
}

#contact >li {
    margin: 1em;
    align-items: center;
}
#contact >li>a:hover {
    color: var(--yellow);
    text-decoration: underline var(--yellow);
}

#work {
    display: flex;
    flex-wrap: wrap;

}

.work-pics {
    margin: 1%;
    list-style: none;
}

.work-pics >a>img {
    height:18.4em;
   border-color: black;
   max-width: 100%;
   max-height:100vw;
}

.work-pics img:hover{
    border: 6px solid;
    box-shadow: 10px 10px 5px rgb(155, 155, 155);
}